div.dc-chart {
    float: none;
}

.scroll-x {
    overflow-x: scroll;
}

.chart-map {
    min-height: 500px;
}

.chart-map svg {
    border: #ccc solid 1px;
    display: block;
    margin: 0 auto;
}

.country {
    stroke: #666;
    cursor: pointer;
}

.country.selected path {
    stroke-width: 2;
}

.country.deselected path {
    stroke: grey;
}