.chart-with-border {
    border: #ccc solid 1px;
}

.country {
    stroke: #666;
    cursor: pointer;
}

.country.selected path {
    stroke-width: 2;
}

.country.deselected path {
    stroke: grey;
}