div.dc-chart {
    float: none;
}

.fixed-header {
    position: sticky;
    z-index: 1;
    background-color: white;
    top: 0px;
    margin: 0 0px;
    padding: 10px 25px 20px 25px;
    text-align: center;
}

.fixed-header .dc-chart {
    margin: 0;
}

.scroll-x {
    overflow-x: scroll;
}

.chart-map {
    min-height: 500px;
}

.chart-map svg {
    border: #ccc solid 1px;
    display: block;
    margin: 0 auto;
}

.country {
    stroke: #666;
    cursor: pointer;
}

.country.selected path {
    stroke-width: 2;
}

.country.deselected path {
    stroke: grey;
}